<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">

    <!--Materialize stuff-->
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head> 

<!--A = title-->
<!--A.article_content = content-->
<!--A.article_date = date-->
<body class="blue-grey lighten-5">
    
        <nav>
            <div class="nav-wrapper grey darken-4 z-depth-4">
                <a href="#" class="brand-logo"> Site Name</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Button 1</a></li>
                    <li><a href="#">Button 2</a></li>
                    <li><a href="#">Button 3</a></li>
                </ul>
             </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>